.container {
  position: relative;
}

.icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: 20px;
  align-items: center;
  justify-content: space-around;
}

.tooltip {
  display: flex;
  flex-direction: column;
  padding: 12px;
  font-size: 12px;
  color: #333;

  .tooltipTitle {
    font-weight: bold;
  }

  .tooltipItem {
    .tooltipValue {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
